* {
    padding: 0;
    margin: 0;
}

.container-fluid{
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    font-size: 15px;
    height: 100vh;
    width: 100%;
}

#greeting {
    background-color: rgb(163, 179, 173);
    color: rgb(0, 0, 0);
}

button {
    background-color: rgb(161, 49, 172);
    padding: 10px;
    color: aliceblue;
}

#conversation {
    background-color: rgba(179, 170, 158, 0.699);
}

#search {
    display: flex;
    color: silver;
    flex-wrap: nowrap;
    padding-bottom: 25px;
}

.message-header {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.message {
    background-color: rgba(145, 58, 58, 0.349);
    font-family: Arial, Helvetica, sans-serif;
}

.time {
    display: flex;
    justify-content: end;
}

#preview {
    background-color: rgba(206, 191, 191, 0.459);
    margin: 0;
    padding: 20px;
}

.reply {
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-small;
}

.body {
    padding-top: 30px;
    display: flex;
    justify-content: start;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
